/* Fuente por defecto */
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
    background-color: #e5e5e5; /* gris tenue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #003399; /* azul */
}

.contenedor {
    max-width: 90%;
    width: 600px;
    padding: 20px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

h2, h3 {
    margin: 5px 0;
}

.texto-biblico {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #002266;
}

.boton {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #0055ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.boton:hover {
    background-color: #003bb3;
}
