:root{
  --azul: #003399;
  --azul-oscuro: #002266;
  --fondo: #dfe3e8;  /* fondo gris suave */
}

/* Fondo general centrado */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Calibri, Arial, sans-serif;
  background: var(--fondo);
  display: flex;
  align-items: center;     /* centrado vertical */
  justify-content: center; /* centrado horizontal */
}

/* Tarjeta central */
.card {
  width: 90%;
  max-width: 700px;
  background: white;
  padding: 35px 30px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.15);
}

/* Títulos */
h1 {
  margin: 0 0 12px;
  font-size: 1.8rem;
  color: var(--azul);
}

h2 {
  margin-top: 8px;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--azul);
}

h3 {
  margin: 5px 0 18px;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--azul);
}

/* Versículo */
.versiculo {
  background: #f0f3f7;
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid #c7cdd6;
  margin: 22px auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

/* Botón */
.btn {
  background: var(--azul);
  color: white;
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.15s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn:hover {
  background: var(--azul-oscuro);
  transform: scale(1.02);
}
